.block {
    display: flex;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    

    width: 60%;
    height: auto;

    font-size: 18px;

    background-color: var(--color-block);

    color: var(--color-text);
}

.journal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}