nav {
    position: sticky;

    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    background-color: var(--color-accent);
    
   
}

.navigation-button {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--color-footer-button);
    color: var(--color-header);
    box-shadow: none;
    justify-content: center;
    align-items: center;

       &:hover{
        background-color: var(--color-accent);
    }
}

.navigation-button svg {
        
  width: 36px;            
  height: 36px;           
         
}


@media (min-width: 769px) {
    nav {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {

    nav {
        bottom: 0;
    }
    .navigation-button{
        width: 16vw;
        height: 16vw;
    }

    nav {
        justify-content: space-around;
    }
}