.footer-content {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer-button {
    display: flexbox;
    width: 50px;
    height: 50px;
    background-color: var(--color-footer-button);
    box-shadow: none;
    border-radius: 5px;

       &:hover{
        background-color: var(--color-accent);
    }
}


.footer-middle {
    display: flexbox;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--color-accent);
    

    &:hover{
        background-color: var(--color-accent-2);
    }
}