.add-button {
    height: min-content;
    background-color: var(--color-footer-button);
    color: var(--color-header);
    padding: 5px 10px;
    font-size: 20px;
}

.delete-button {
    width: 27px;
    height: 27px;
    background-image: url('../../assets/icon-delete.svg');
    background-size: cover;
}

.page {
    height: 100%;
}

.extra-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-color: var(--color-footer-button);
    color: var(--color-backround);
}

.extra-info-text {
    background-color: var(--color-backround);
    padding: 20px;
    border-radius: var(--border-radius);
    color: var(--color-header);
    font-size: 20px;
    font-weight: 700;
}

.extra-info-picture {
    opacity: 0.3;
}

@media (min-width: 769px) {
    .extra-info-picture {
    margin-bottom: 60%;
}
}

@media (max-width: 768px) {
    .extra-info {
        height: 30vh;
    }
    
}