.add-button {
    height: min-content;
    background-color: var(--color-footer-button);
    color: var(--color-header);
    padding: 5px 10px;
    font-size: 20px;
}

.delete-button {
    width: 27px;
    height: 27px;
    background-image: url('../../assets/icon-delete.svg');
    background-size: cover;
}

.page {
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    background-color: var(--color-footer-button);
    color: var(--color-backround);
    height: 100%;
}

.extra-info-text {
    background-color: var(--color-backround);
    padding: 20px;
    border-radius: var(--border-radius);
    color: var(--color-header);
    font-size: 20px;
    font-weight: 700;
}

.extra-info-picture {
    opacity: 0.3;
}
