:root {
    --color-backround: #697864;
    --color-header: #0e1e00;
    --color-footer-button: #3b4d35;

    --color-accent: #223f19;
    --color-accent-2: #182c11;

    --color-block: #C1C1AE;

    --color-text: #2f3a2c;
}